.contact-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: black;
    padding: 40px 80px;
    padding-bottom: 0;
    height: 270px;
    position: relative;
}

.contact-container-left {
    width: 50%;
}

.contact-container-left h1 {
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
}

.contact-container-right {
    width: 40%;
    background-color: white;
    height: 70px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.contact-container-right input {
    width: 70%;
    height: 50%;
    border: none;
    outline: none;
    padding: 0 20px;
}

.contact-container-right input::placeholder {
    font-style: italic;
    font-size: 1rem;
}

.contact-container-right button {
    background-color: #0D1423;
    color: white;
    padding: 10px 45px;
    border-radius: 50px;
    border: none;
    transition: all 0.3s ease;
}

.contact-container-right button:hover {
    background-color: #EB5017;
    cursor: pointer;
}

.contact-container-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.contact-container-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    gap: 20px;
    background-color: #EB5017;
    height: 100px;
    width: 60%;
    border-radius: 10px;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.contact-us p {
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
}

.contact-us button {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1rem;
    padding: 23px 45px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.contact-us button:hover {
    background-color: #fff;
    color: #EB5017;
    cursor: pointer;
}
span {
    color: #EB5017;
}

@media screen and (max-width: 768px) {
    /* Contact Container */
        .contact-container {
            padding: 30px 20px;
            height: auto;
            margin-top: 60px;
        }
    
        .contact-container-top {
            flex-direction: column;
            gap: 30px;
        }
    
        .contact-container-left {
            width: 100%;
            text-align: center;
        }
    
        .contact-container-left h1 {
            font-size: 2rem;
        }
    
        .contact-container-right {
            width: 100%;
            height: auto;
            padding: 15px;
            gap: 15px;
        }
    
        .contact-container-right input {
            width: 100%;
            padding: 10px;
        }
    
        .contact-container-right button {
            padding: 10px 20px;
        }
    
        .contact-us {
            width: 90%;
            height: auto;
            padding: 14px 15px;
            gap: 15px;
            text-align: center;
        }
    
        .contact-us p {
            font-size: 1.0rem;
        }
    
        .contact-us button {
            padding: 13px 25px;
            font-size: 0.7rem;
            text-wrap: nowrap;
            border-radius: 15px;
        }
    
    
    }