.frameworks-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #111827;
    padding: 20px 60px;
}
.frameworks-container img{
    width: 18%;
    height: auto;
}
.frameworks-container img:first-of-type{
    width: 10%;
}
.frameworks-container img:nth-of-type(2){
    width: 23%;
}
.devfest-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background: #020817;
    padding: 20px 60px;
    height: 75vh;
}
.devfest-info-left{
    width: 35%;
}
.devfest-info-left h1{
    font-size: 3rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 50px;
}
.devfest-info-left h1 span{
    color: #EB5017;
}
.devfest-info-left ul{
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    color: #fff;
}
.devfest-info-left ul li{
    font-weight: 300;
    line-height: 1.5;
}
.devfest-info-right{
    width: 65%;
    position: relative;
    height: 400px;
}
.devfest-info-right img{
    position: absolute;
    border-radius: 10px;
}
.devfest-info-right .devfest-uk{
    top: 30%;
    right: 10%;
    z-index: 2;
    transform: rotate(-5deg);
    width: 450px;
}
.devfest-info-right .devfest-namibia{
    width: 500px;
    top: -10%;
    right: 35%;
    z-index: 1;
    transform: rotate(5deg);
}
.how-it-works {
    margin-top: 50px;
  padding: 0 60px;
  background: #020817;
  color: #fff;
  height: 100vh;
  scale: 0.9;
}

.how-it-works-top {
  text-align: center;
  margin-bottom: 50px;
}

.how-it-works-top h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 500;
}

.how-it-works-top span {
  color: #EB5017;
}

.how-it-works-top p {
  font-size: 1.2rem;
  color: #fff;
  max-width: 800px;
  font-weight: 300;
  margin: 0 auto;
}

.how-it-works-grid-item {
  border-radius: 10px;
  padding: 30px;
  border: 2px solid #EB5017;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 12px;
  transition: all 0.3s ease;
}
.how-it-works-grid-item:hover{
    border: 2px solid #fff;
    transform: scale(1.05);
    cursor: pointer;
}

.how-it-works-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}



.how-it-works-grid-item img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.how-it-works-grid-item b {
  font-size: 1.3rem;
  color: #fff;
  text-align: left;
  height: 100%;
  min-height: 0;
}

.how-it-works-grid-item p {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
}

.how-it-works-grid-item span {
  color: #EB5017;
}

span{
    color: #EB5017;
}





