.events-header {
  height: 39.2vw;
  margin: 0px auto;
  background: url("/Events Header.webp") no-repeat;
  background-size: contain;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.events-header h1 {
  margin-top: 18%;
  font-size: 90px;
}

.events-header p {
  font-size: 1.8rem;
  width: 75%;
  text-align: center;
  margin-top: 20px;
}


.events-grid-container {
  background-color: #161616;
  padding: 20px 40px;
  width: 100%;
}

.country-and-region {
  display: flex;
  gap: 80px; /* Space between region and country */
  margin-bottom: 70px;
}

.region,
.country {
  position: relative; /* For dropdown positioning */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space between label and selected value */
  gap: 10px;
  align-items: start; /* Center items vertically */
  transition: background-color 0.3s; /* Smooth background transition */
}
.region label,
.country label {
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
}
.selected-region,
.selected-country {
  background-color: #d9d9d9;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  width: 230px;
  height: 45px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
}
.selected-region img,
.selected-country img {
  width: 50px;
  height: auto;
}

.dropdown {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  z-index: 10;
  width: 100%;
  top: -130px;
  max-height: 150px; /* Limit height */
  overflow-y: auto; /* Scroll if too many items */
  border-radius: 8px; /* Rounded corners for dropdown */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for dropdown */
}

.dropdown div {
  padding: 10px;
  cursor: pointer;
}

.dropdown div:hover {
  background-color: #f0f0f0; /* Highlight on hover */
}

.events-grid-container > p {
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
  margin: 20px 0px;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
}

.event-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.event-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.event-card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-card-details-left {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.event-card-details-left h3 {
  font-size: 1.7rem;
  font-weight: 500;
  color: white;
}

.event-card-details-left p {
  font-size: 1rem;
  font-weight: 500;
  color: #eb5017;
}

.event-card-details-right {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 40px;
  padding: 7px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.event-card-details-right:hover {
  background-color: #c0c0c0;
}

.event-card-details-right p {
  font-size: 0.7rem;
  font-weight: 500;
  color: #eb5017;
}

.event-card-details-right img {
  width: 20px;
  height: auto;
}

.events-pagination-container {
  display: flex;
  width: 100%;
  justify-content: right;
  align-items: center;
  padding: 0px 40px;
  margin: 50px 0px;
}

.events-pagination {
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.events-pagination button {
  background-color: white;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: 600;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.events-pagination-button {
  background-color: transparent;
}

.events-pagination img {
  width: 50px;
  height: auto;
  cursor: pointer;
}

.events-pagination button.active {
  background-color: #eb5017;
  color: white;
  border: none;
}

.events-pagination button:hover:not(.active) {
  background-color: #f0f0f0;
}

.events-pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.events-contact {
  margin-top: 0 !important;
}
.events-contact-container {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  background-color: black;
  padding: 40px 80px;
  padding-bottom: 0;
  height: 270px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .events-header {
    padding: 0 25px;
  }

  .events-header h1 {
    font-size: 25px;
    line-height: 1.2;
  }

  .events-header p {
    font-size: 0.7rem;
    margin-top: 5px;
    text-align: center;
    width: 95%;
  }
  

  .country-and-region {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px; /* Space between region and country */
  }

  .region,
  .country {
    position: relative; /* For dropdown positioning */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space between label and selected value */
    gap: 10px;
    align-items: start; /* Center items vertically */
    transition: background-color 0.3s; /* Smooth background transition */
  }
  .region label,
  .country label {
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
  }
  .selected-region,
  .selected-country {
    background-color: #d9d9d9;
    font-size: 0.8rem;
    text-wrap: nowrap;
    padding: 0 10px;
    font-weight: 500;
    color: black;
    width: 140px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    cursor: pointer;
  }
  .selected-region img,
  .selected-country img {
    width: 30px;
    height: auto;
  }
  .events-grid-container > p {
    font-size: 1.2rem;
  }
  .events-grid-container {
    padding: 20px;
  }
  .events-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .events-pagination-container {
    flex-direction: row;
    justify-content: center;
  }
  .events-contact-container {
    padding: 30px 20px;
    height: auto;
    margin-top: 60px;
  }
}
